<!doctype html>
<html>

{% include head.html %}

<link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
<!-- <script type="text/javascript" src="search.tsx"></script> -->
<body>

  <!-- {% include search.tsx %} -->

  <div class="container">

    <div id="mendable-component"></div>

    {% include header.html %}

    <div class="post-container">
      {{ content }}
    </div>

    {% include footer.html %}

  </div>

</body>
</html>
